* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.news1 {
    background-color:#1e2a38;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
nav {
  display: flex;
  justify-content: center;
  background-color: #007BFF;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size:large;
  margin: 0 20px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
nav a:hover {
  background-color: #0056b3;
}